pymongo
torch~=2.2.2
PyYAML
tqdm
sentencepiece
python-dotenv
pydantic
fastapi
starlette
jwt
slowapi
starlette_exporter
dnspython
idna
cryptography
anyio
GitPython
gitdb
h11
numpy
pillow
attrs
wheel
protobuf
filelock
rsa
pyasn1
python-dateutil
six
cffi
setuptools
Mako
MarkupSafe
pytz
requests
colorama
zipp
typing_extensions
sniffio
Werkzeug
click
Jinja2
blinker
itsdangerous
smmap
packaging
charset-normalizer
scipy
threadpoolctl
matplotlib
mpmath
sympy
limits
urllib3
fsspec
docker
aiohttp
yarl
pyasn1_modules
grpcio
certifi
joblib
cloudpickle
Deprecated
mlflow
mlflow-skinny
pandas
SQLAlchemy
alembic
pyarrow
databricks-sdk
importlib_metadata
sqlparse
scikit-learn
Flask
graphene
graphql-core
pydantic_core
tzdata
seaborn
cycler
uvicorn
graphql-relay
greenlet
Markdown
networkx
annotated-types
waitress
contourpy
fonttools
pycparser
pyparsing
torchtext
wrapt
kiwisolver
prometheus_client
